Repository konflux-ci/docs, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/docs, @konflux-ci/installer-maintainers, @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @konflux-ci/release-service-maintainers, @ralphbean, @konflux-ci/ec, @konflux-ci/mintmaker-maintainers, @arewm

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/installing/   	@konflux-ci/installer-maintainers

# build
/modules/building/	@konflux-ci/build-maintainers

# integration
/modules/testing/       @konflux-ci/integration-service-maintainers

# release
/modules/releasing                                			@konflux-ci/release-service-maintainers
/modules/patterns/pages/testing-releasing-single-component.adoc  	@konflux-ci/release-service-maintainers
/modules/patterns/images/single-component-integration-test-scenario.png @konflux-ci/release-service-maintainers
/modules/patterns/pages/gitops-for-manual-releases.adoc  		@konflux-ci/release-service-maintainers @ralphbean

# Conforma
/modules/compliance/       		                @konflux-ci/ec
/modules/building/pages/using-trusted-artifacts.adoc    @konflux-ci/ec

/modules/mintmaker/ @konflux-ci/mintmaker-maintainers

# find a team to own these

/modules/metadata/	@ralphbean @arewm
/modules/patterns/	@ralphbean @arewm

Update the getting started doc
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop paragraph to reduce information overflow in getting started guide
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Link off to subsequent sections
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop unnecessary parenthetical
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Make Application introduce simpler and more generic
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop unnecessary link to single component mode from getting started docs
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Use consistent language.
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

remove workspace concept (#349)
  modules/ROOT/partials/konflux-additional-getting-started.adoc
  modules/building/pages/activation-keys-subscription.adoc
  modules/building/pages/component-nudges.adoc
  modules/building/pages/configuration-as-code.adoc
  modules/building/pages/creating-secrets.adoc
  modules/building/pages/creating.adoc
  modules/building/pages/deleting.adoc
  modules/building/pages/reconfiguring-build-pipeline.adoc
  modules/building/pages/running.adoc
  modules/glossary/pages/index.adoc
  modules/metadata/pages/discover.adoc
  modules/metadata/pages/index.adoc
  modules/patterns/pages/keep-remote-pipelines-up-to-date.adoc
  modules/patterns/pages/maintaining-references-before-release.adoc
  modules/patterns/pages/managing-security-fix.adoc
  modules/releasing/pages/adjusting-timeouts-resources.adoc
  modules/releasing/pages/create-release-plan-admission.adoc
  modules/releasing/pages/create-release-plan.adoc
  modules/releasing/pages/create-release.adoc
  modules/releasing/pages/index.adoc
  modules/releasing/pages/tenant-release-pipelines.adoc
  modules/releasing/pages/using-collectors.adoc
  modules/testing/pages/build/snyk.adoc
  modules/testing/pages/integration/snapshots/override-snapshots.adoc
  modules/testing/pages/integration/snapshots/working-with-snapshots.adoc
  modules/troubleshooting/pages/builds.adoc
Owners: @konflux-ci/docs, @konflux-ci/build-maintainers, @ralphbean, @arewm, @konflux-ci/release-service-maintainers, @konflux-ci/integration-service-maintainers

Add footnote about python_full_version specifier for pipenv
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

More clarification
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

fix(stoneintg-1238): add hyperlink to snapshot example content
  modules/testing/pages/integration/snapshots/working-with-snapshots.adoc
Owners: @konflux-ci/integration-service-maintainers

fix(stoneintg-1238): add hyperlink to snapshot example content (#381)
  modules/testing/pages/integration/snapshots/working-with-snapshots.adoc
Owners: @konflux-ci/integration-service-maintainers

Clarify RPM updates support
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

Clarify RPM updates support (#382)
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

Remove application.thumbnail annotation
  modules/building/partials/custom-resources/konflux-application.adoc
  modules/patterns/pages/managing-multiple-versions.adoc
Owners: @konflux-ci/build-maintainers, @ralphbean, @arewm

Remove application.thumbnail annotation (#383)
  modules/building/partials/custom-resources/konflux-application.adoc
  modules/patterns/pages/managing-multiple-versions.adoc
Owners: @konflux-ci/build-maintainers, @ralphbean, @arewm

Create space for a partial about gitops releases
  modules/patterns/pages/gitops-for-manual-releases.adoc
  modules/patterns/partials/konflux-gitops-for-manual-releases-head-note.adoc
Owners: @ralphbean, @arewm

Add note about go/toolchain directive updates
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

Add footnote about python_full_version specifier for pipenv (#380)
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

Add note about go/toolchain directive updates (#385)
  modules/mintmaker/pages/support.adoc
Owners: @konflux-ci/mintmaker-maintainers

chore(KFLUXVNGD-347): Document the process of onboarding tasks
  modules/end-to-end/nav.adoc
  modules/end-to-end/pages/building-tekton-tasks.adoc
Owners: @konflux-ci/docs

Typofix
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

chore(docs): add section on accessing prefetched generic assets
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

Fix formatting
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

Cachi2: recomend the use of pybuild-deps for resolving pip build deps
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

nitpick: add placeholder for filename
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

chore(docs): add section on accessing assets retrieved by generic fetcher (#387)
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

prefetch: Rebrand Cachi2 as Hermeto
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

fix: update tenant pipeline example role
  modules/releasing/pages/tenant-release-pipelines.adoc
Owners: @konflux-ci/release-service-maintainers

fix: update tenant pipeline example role (#389)
  modules/releasing/pages/tenant-release-pipelines.adoc
Owners: @konflux-ci/release-service-maintainers

chore(KFLUXVNGD-347): Document the process of onboarding tasks
  modules/end-to-end/nav.adoc
  modules/end-to-end/pages/building-tekton-tasks.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-integration.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-prerequisites.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-release-structure.adoc
Owners: @konflux-ci/docs

fix: Clarify Procedure for rpm-lockfile-prototype
  modules/building/pages/activation-keys-subscription.adoc
Owners: @konflux-ci/build-maintainers

doc(STONEINTG-1248): update non-pr-snapshots count for gc
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

doc(STONEINTG-1248): update non-pr-snapshots count for gc (#390)
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

Revert "doc(STONEINTG-1248): update non-pr-snapshots count for gc (#390)"
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

Revert "doc(STONEINTG-1248): update non-pr-snapshots count for gc (#390)" (#391)
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

Update the getting started doc
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop paragraph to reduce information overflow in getting started guide
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop unnecessary parenthetical
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Link off to subsequent sections
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs
