Repository konflux-ci/docs, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/docs, @konflux-ci/installer-maintainers, @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @konflux-ci/release-service-maintainers, @konflux-ci/ec, @ralphbean, @arewm

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/ROOT/pages/advanced-how-tos/installing/   @konflux-ci/installer-maintainers

# build
/modules/ROOT/pages/how-tos/configuring/           @konflux-ci/build-maintainers
/modules/ROOT/partials/how-tos/configuring/        @konflux-ci/build-maintainers

# integration
/modules/ROOT/pages/how-tos/testing/               @konflux-ci/integration-service-maintainers

# release
/modules/ROOT/pages/advanced-how-tos/releasing                                @konflux-ci/release-service-maintainers
/modules/ROOT/pages/advanced-how-tos/testing-releasing-single-component.adoc  @konflux-ci/release-service-maintainers

# Conforma
/modules/ROOT/pages/advanced-how-tos/managing-compliance-with-ec       @konflux-ci/ec
/modules/ROOT/pages/advanced-how-tos/using-trusted-artifacts.adoc      @konflux-ci/ec


# find a team to own this

/modules/ROOT/pages/how-tos/metadata/              @ralphbean @arewm
/modules/ROOT/pages/how-tos/workflows/             @ralphbean @arewm

List and link to the individual APIs by name
  modules/ROOT/pages/reference/_nav.adoc
  modules/ROOT/pages/reference/kube-apis/index.adoc
Owners: @konflux-ci/docs

chore: note maintaining separate ITS for EC validations
  modules/ROOT/pages/advanced-how-tos/testing-releasing-single-component.adoc
Owners: @konflux-ci/release-service-maintainers

chore: note maintaining separate ITS for EC validations (#255)
  modules/ROOT/pages/advanced-how-tos/testing-releasing-single-component.adoc
Owners: @konflux-ci/release-service-maintainers

Improve GitLab secrets section
  modules/ROOT/pages/how-tos/configuring/creating-secrets.adoc
Owners: @konflux-ci/build-maintainers

Gitlab: Render note as NOTE
  modules/ROOT/pages/how-tos/configuring/creating-secrets.adoc
Owners: @konflux-ci/build-maintainers
