Repository konflux-ci/docs, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/docs, @konflux-ci/installer-maintainers, @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @konflux-ci/release-service-maintainers, @ralphbean, @konflux-ci/ec, @konflux-ci/mintmaker-maintainers, @arewm

Use consistent language.
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Make Application introduce simpler and more generic
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Drop unnecessary link to single component mode from getting started docs
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Nest CR sections underneath the Custom Resource header
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

Spell out OCI artifacts
  modules/ROOT/pages/getting-started.adoc
Owners: @konflux-ci/docs

fix(stoneintg-1243): incl info on roles and rolebindings
  modules/testing/pages/integration/periodic-integration-tests.adoc
Owners: @konflux-ci/integration-service-maintainers

fix: typo in rpm-lockfile-prototype procedure
  modules/building/pages/activation-keys-subscription.adoc
Owners: @konflux-ci/build-maintainers

fix(stoneintg-1243): incl info on roles and rolebindings (#392)
  modules/testing/pages/integration/periodic-integration-tests.adoc
Owners: @konflux-ci/integration-service-maintainers

doc(STONEINTG-1248): update non-pr-snapshots count for gc
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

doc(STONEINTG-1248): update non-pr-snapshots count for gc (#393)
  modules/testing/pages/integration/snapshots/index.adoc
Owners: @konflux-ci/integration-service-maintainers

chore: document how to prevent auto-release on push events
  modules/patterns/pages/github-merge-queues.adoc
Owners: @ralphbean, @arewm

chore: document how to prevent auto-release on push events (#394)
  modules/patterns/pages/github-merge-queues.adoc
Owners: @ralphbean, @arewm

Cachi2: recomend the use of pybuild-deps for resolving pip build deps (#326)
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

prefetch: Rebrand Cachi2 as Hermeto
  modules/building/pages/prefetching-dependencies.adoc
Owners: @konflux-ci/build-maintainers

chore(KFLUXVNGD-347): Document the process of onboarding tasks (#386)
  modules/end-to-end/nav.adoc
  modules/end-to-end/pages/building-tekton-tasks.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-integration.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-prerequisites.adoc
  modules/end-to-end/partials/konflux-building-tekton-tasks-release-structure.adoc
Owners: @konflux-ci/docs

chore(): add integration partial
  modules/end-to-end/pages/building-tekton-tasks.adoc
Owners: @konflux-ci/docs

chore(): add integration partial (#395)
  modules/end-to-end/pages/building-tekton-tasks.adoc
Owners: @konflux-ci/docs

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/installing/   	@konflux-ci/installer-maintainers

# build
/modules/building/	@konflux-ci/build-maintainers

# integration
/modules/testing/       @konflux-ci/integration-service-maintainers

# release
/modules/releasing                                			@konflux-ci/release-service-maintainers
/modules/patterns/pages/testing-releasing-single-component.adoc  	@konflux-ci/release-service-maintainers
/modules/patterns/images/single-component-integration-test-scenario.png @konflux-ci/release-service-maintainers
/modules/patterns/pages/gitops-for-manual-releases.adoc  		@konflux-ci/release-service-maintainers @ralphbean

# Conforma
/modules/compliance/       		                @konflux-ci/ec
/modules/building/pages/using-trusted-artifacts.adoc    @konflux-ci/ec

/modules/mintmaker/ @konflux-ci/mintmaker-maintainers

# find a team to own these

/modules/metadata/	@ralphbean @arewm
/modules/patterns/	@ralphbean @arewm
